* {
  box-sizing: border-box;
}

/* Write Your CSS Here */

h1{
  margin-top: 1em;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
}

.bod{
  font-family: "VT323";
  text-shadow: 0 3px #000000;
  color: #D6517D;
  font-size: 5em;
  margin-top: 2em;
}

/* CSS For The Background */

.about-background {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../assets/PicsArt_07-25-07.15.06.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 60% 60%;
}
