img {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}
#container-card {
    max-width: 300px;
  
    /* Center the container in middle on horizontal axis */
    margin: 0 auto;
  
    /* Add empty space above the container (20% of the view height) */
    margin-top: 20vh;
}
.card {
    /* Change background color */
    background-color: rgba(109, 104, 104, 0.606);
  
    /* Add border */
    border: 1px solid #bacdd8;
  
    /* Add space between the border and the content */
    padding: 8px;
  
    border-radius: 12px;
}
.tag {
    padding: 4px 8px;
    border: 1px solid #e5eaed;
    background-color: aliceblue;
    border-radius: 50px;
    font-size: 0.7em;
    color: #788697;
  }
  
  /* Style div elements that have class equal to name */
  .name {
    color: gold;
    font-size: 1em;
    font-weight: 600;
  
    margin-top: 16px;
  }
  
  /* Style p element */
  p {
    font-size: 1em;
    color: black;
    padding-bottom: 1em;
    padding-top: 1em;
  }
  
  /* Style button element */
  button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-size: 1em;
    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
  
    /* Button is inline-block element by default, it need to have block display for margin: 0 auto; to work */
    margin: 0 auto;
    display: block;
  
    /* Button is a clickable element, therefore it should have a pointer cursor */
    cursor: pointer;
  }
  
  .card__details {
    /* Add space around the details */
    padding: 16px 8px 8px 8px;
  }
  button:focus,
button:hover {
  background-color: #0077ff;
  color: #e0efff;
}