* {
  box-sizing: border-box;
}

/* Write Your CSS Here */

.container{
  width: 350px;
  height: 500px;
  background: inherit;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -250px;
  border-radius: 8px;
}

.container::before {
  width: 400px;
  height: 550px;
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  bottom: 0;
  right: 0;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.134);
  filter: blur(5px);
}

/*CSS for the Form contents*/

.form img{
  width: 12em;
  height: 9em;
  border-radius: 100%;
  margin-top: -3em;
  margin-bottom: 1em;
}

.form{
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

input{
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid whitesmoke;
  margin-bottom: 2em;
  font-family: "Press Start 2P", "VT323";
  color: aliceblue;
  height: 2em;
  margin-top: 1.5em;
}

input:focus{
  outline: none;
}

.mint{
  border: 0;
  border-radius: 8px;
  padding-bottom: 0;
  height: 3em;
  width: 15em;
  background: #df2359;
  color: white;
  cursor: pointer;
  transition: all 600ms ease-in-out;
  font-family: "Press Start 2P", "VT323";
}

.option1{
  margin-top: 2em;
}

/* CSS For The Background */
.check{
  font-family: "VT323";
  text-shadow: 0 3px #000000;
  color: #D6517D;
  font-size: 2em;
  margin-top: 5em;
}

p {
  line-height: 1.5em;
}

p img{

  height: 5em;
  width: 7em;
}

.mint-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../assets/PicsArt_07-26-08.36.49.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 40%;
}
