* {
  box-sizing: border-box;
}

/* Write Your CSS Here */

/* CSS For The Background */

.team-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../assets/PicsArt_07-24-06.52.55.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 40%;
}
.team-name{
  margin-top: 8em;
  margin-bottom: -7em;
}

 /* h1 {
  text-align: centre;
  font-family: "Lucida Console", "Courier New", monospace; 
}  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Exo; */
}

.main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  /* background-color: #0c5db9; */
}

.profile-card{
  position: relative;
  font-family: sans-serif;
  width: 220px;
  height: 220px;
  background: rgba(109, 104, 104, 0.402);
  backdrop-filter: blur(5px);
  /* background: inherit; */
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
  margin: 0 25px;
}
.profile-card:hover{
  /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px); */
  border-radius: 10px;
  height: 260px;
}
.profile-card .img{
  position: relative;
  width: 100%;
  height: 100%;
  transition: .6s;
  z-index: 99;
}

.img img{
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
}

.profile-card:hover .img{
  transform: translateY(-60px);
}

.profile-card:hover img{
  border-radius: 10px;
}
.caption{
  text-align: center;
  
  transform: translateY(-80px);
  opacity: 0;
  transition: .6s;
}
.profile-card:hover .caption{
  opacity: 1;
}
.caption h3{
  font-size: 1em;
  font-family: "Press Start 2P", "VT323";
  line-height: 1.5rem;
  color: aliceblue;
}
.caption p{
  font-size: 15px;
  color: #0c52a1;
  font-family: "Press Start 2P", "VT323";
  margin: 10px 0 9px 0;
}
.caption .social-links a{
  color: #333;
  margin-right: 15px;
  font-size: 21px;
  transition: .6s;
}
.social-links a:hover{
  color: #0c52a1;
}